body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.top {
 text-align: center;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 9999;
 width: 100vw;
 height: 8vh;
 opacity: 1;
 background-color: hsla(0, 0%, 100%, 0.66);
 border-bottom-style: groove;
 border-color: #000;
}
#AlarmApp {
  margin-top: 4vh;
  width: 100vw;
  height: 100%;
  left: 0;
  position: fixed;
}
.top i {
  margin-top: 20px;
}
#titleInput {
  text-align: center;
}
/*.middle {
  // margin-top: 60px !important;
  text-align: center;
  margin: 0px auto;
  background-color: #fff;
  padding: 10px;
  overflow-x:hidden;
}*/

.clock-segment {
  width: 80%;
  margin: 0px auto !important;
  text-align: center;
}
.clock {
  font-size: 40px;
  color: black !important;
  vertical-align: middle;
  // margin: 10px auto;
}
div.meta > p {
  padding-top: 10px;
}
.icon.large.plus {
  margin: 0px !important;
}
textarea {
  border: 0;
}
.event {
  border-bottom-width: thin;
  border-bottom-style: inset;
  padding-bottom: 10px !important;
}

.activeIcon {
 color: black;
}
.disabledIcon {
  color: grey;
}
.alarm-container {
  margin: -9vh auto;
  padding-top: 9vh;
  overflow-y: scroll;
  max-height: 100%;
  max-width: 960px;
}

.grey-out-text {
  color: grey !important;
}
#viewPager, #frame {
  height: 90%;
}

.vh-center {
  position: relative;
 top: 45%;
 transform: translateY(-50%);
}

.vh-center > div:first-child {
  margin: 0 auto;
  padding: 10px;
}
.vh-center h5 {
  font-size: 3vh;
  color: #000;
}
.timeInput {
  font-size: 5.5em;
  margin: 0px auto;
  text-align: center;
  font-weight: bolder;
}
#hoursInput, #minsInput {
  width: 80%;
  text-align: center;
}
/*.hoursInput .minsInput {
  color: white !important;
}*/

/*#hoursInput, #minsInput {
  width: 60%;
  text-align: center;
  color: white !important;
}*/

/*input, textarea {
  color: white !important;
}*/

#note-input {
  background: transparent;
  padding: 20px;
  width: 100%;
}

#alarm-form-container{
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0px;
  top: 70px;
}
#bottom {
  left: 0px;
  right: 0px;
  margin: 0px auto;
  bottom: 0px;
  height: 20%;
  position: fixed;
  width: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255,255,255,0));
}
#bottomButton{
  position: fixed;
  width: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
  margin-bottom: 3%;
  background-color: white;
  border: 0.5px solid rgb(144, 144, 144);

}
#bottomButton > i {
  color: #000;
}
#swipe-view {
  height: 100%;
}
#swipeBottom {
  left: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  position: fixed;
  bottom: 20px;
} p {
  color: rgb(186, 178, 182);
}
#alarmConfirmButton {
  margin-top: 10vh;
}
.DayPicker {
  width: 100%;
}
.DayPicker-Month {
  width: 95%;
  height: 50vh;
}
 #swipe-view {
   border: 1px solid black;
   max-width: 100vw;
   width: 100%;

 }

 .ui.dimmer {
   background-color: transparent !important;
 }

i.trash.large.icon{
  margin-top: 3vh !important;
}
 div.ui.segment.clock-segment {
   padding: 3vh !important;
   width: 60%;
 }
div.extra p {
  padding-bottom: 4vh !important;
}
 div.meta p {
   padding-top: 4vh !important;
 }

 #alarm-segment {
   width: 80%;
   margin: 0px auto !important;
   text-align: center;
 }

 #alarmButtons {
   width: 60%;
   margin: 0px auto;
 }

 div#alarmButtons button {
  margin-bottom: 1vh;
 }


 #pagerControls {
   margin: 0px auto;
   position: absolute;
   left: 0px;
   bottom: 0px;
   right: 0px;
   height: 15vh;
   width: 80%;
   text-align: center;
 }

 #pagerControls a {
   margin: 0px auto;
 }

 #lobster {
   font-family: 'Lobster', cursive;
   font-size: 10vh;
   top: 2.2vh;
   position: absolute;
   left: 0px;
   right: 0px;
   color: black;
 }

p#snoozeText {
  padding: 0px;
  margin: 0px auto;
  margin-bottom: -4vh;
}
